<html>
<head>
	<link rel="stylesheet" href="/scripts/jquery-ui.css">
	<script src='/scripts/jquery.js'></script>
	<script src='/scripts/color.js'></script>
</head>
<body>
<form method='POST'>
	<table>
		<thead>
			<tr>
				<th>Channel</th>
				<th>Name</th>
				<th>R</th>
				<th>G</th>
				<th>B</th>
				<th>Default Value</th>
			</tr>
		</thead>
		<% for(var i = 0; i < currentChannelSettings.length; i++){ %>
		<tr>
			<td><%=i+1%></td>
			<td><input name='name[<%=i%>]' type='text' value='<%=currentChannelSettings[i].name%>'></input></td>
			<td><input name='r[<%=i%>]' type='text' value='<%=currentChannelSettings[i].r%>'></input></td>
			<td><input name='g[<%=i%>]' type='text' value='<%=currentChannelSettings[i].g%>'></input></td>
			<td><input name='b[<%=i%>]' type='text' value='<%=currentChannelSettings[i].b%>'></input></td>
			<td><input name='value[<%=i%>]' type='text' value='<%=currentChannelSettings[i].value%>'></input></td>
		</tr>
		<%}%>
	</table>
	<input type='submit' value='Save Channel Settings'/>
</form>
</body>
</html>